    <link rel='stylesheet' href='/css/recipe.css' />

<div class="text-center">
  <h2>{{recipe_name}}</h2>
  <p>{{description}}</p>
  <p>{{ingredients}}</p>
  <p>{{instructions}}</p>
  <p>Created by {{user.name}}</p>
 

</div>
